*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    font-size: 600;
    font-weight: 700;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:  var(--bg-color);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}


.logo:hover{
    color: #6cc7eb;
}





.navbar a {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 700;
    font-family: 'Poppins';
    text-decoration: none;
    position: relative;
    margin-left: 15px;
    transition: .3s;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: .3s;
}

.navbar a:hover:before{
    width: 100%;
    
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    
}